<% content_for :subnavigation do %>
<%= render :partial => 'products/subnavigation' if @product %> 
<% end -%>

<% if @product -%>
<h1>Product Placement</h1>
<div class='sortable-categories'>
  <%= render :partial => 'placements/category', :collection => Category.roots %>
</div>
<% end -%>

<% if @category -%>
<h1>Set Display Order of Products Within a Category</h1>
  <ul id="list">
    <% for product in @category.products -%>
    <li class='placement' id='list_<%= Placement.find_by_product_id_and_category_id(product, @category).id -%>'>
      <%= image_tag(product.images.first.public_filename("mini")) rescue "No Image" -%>
      <div class="text"><%= product.product_code %> - <%= product.name %></div>
    </li>
    <% end -%>
  </ul>
  <%= sortable_element("list", 
      :url => { :controller => 'placements', :action => 'reorder' }, 
      :tag => 'li') -%>

<% end %>