<% content_for :subnavigation do %>
<%= render :partial => 'categories/subnavigation' %>
<% end -%>

<span class='add-new-link'><%= link_to "New options", new_category_option_path %></span>
<span class='sort'><%= link_to_function "Sort", visual_effect(:appear, "list" ) %></span>

<div id="list" style='display: none'>
  <h1>Order Option Families</h1>
  <span class='add-new-link'><%= link_to_function "I'm done sorting", visual_effect(:fade, "list" ) %></span>
  
  <% for option in @category.options %>
  <div class='placement' id='list_<%= option.id -%>'>
    <div class='name'>
      <%= option.name %><br />
    </div>
  </div>
  <% end -%>
</div>


<%= sortable_element("list", 
    :url => { :controller => 'options', :action => 'reorder' }, 
    :tag => 'div') -%>

<table id='data'>
  <tr>
    <th style='text-align: center;'>Option Family</th>
    <th>Customizations</th>
    <th class='actions'>Actions</th>
  </tr>

<% for option in @category.options %>
  <tr>
    <td style='vertical-align: top; width: 12em'>
      <%= option.name %>
    </td>
    <td>
      <ul>
        <% for c in option.customizations -%>
        <li><%= c.name %> <%= c.modifier %> <%= c.skumod %></li>
        <% end  -%>
      </ul>
    </td>
    <td class='actions'>
      <%= link_to 'Edit', edit_category_option_url(@category, option) %> |
      <%= link_to 'Delete', option, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

