<p>
  <%= @f.label :name %>
  <%= @f.text_field :name %>
</p>
<p>
  <%= @f.label :show_header %>
  <%= @f.check_box :show_header %>
</p>

<p>
  <%= @f.label :permalink %>
  <%= @f.text_field :permalink %>
</p>

<p>
  <%= @f.label :style %>
  <%= @f.text_area :style %>
</p>

<p>
  <%= @f.label :content %>
  <%= @f.text_area :content %>
</p>

<p>
  <%= @f.label :sidebar %>
  <%= @f.text_area :sidebar %>
</p>
