<h1>Listing Pages</h1>
<span class='add-new-link'><%= link_to "New page", new_page_path %></span>
<table>
  <tr>
    <th>Name</th>
    <th class='actions'>Actions</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.name %></td>
    <td class='actions'>
      <%= link_to 'Edit', edit_page_path(page) %> |
      <%= link_to 'Preview', page %> |
      <%= link_to 'Delete', page, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
