<h2 class='subcategory'><%= category.title %></h2>
<ul class='products'>
  <% for product in category.products -%>
  <li>
    <a href='/products/<%= product.id %>'>
      <div class='image'>
        <%= image_tag product.images.first.public_filename(:small), :class => 'onlyprint', :width => "120px" rescue nil %>
        <%= image_tag product.images.first.public_filename(:small), :class => 'noprint' rescue nil %>
      </div>
      <div class='text'>
        <p><%= product.product_code %></p>
        <b><%= product.name %></b>
      </div>
    </a>
  </li>
  <% end -%>
</ul>
