
<div class='category-description'>
  <div class='logo'>
    <%= image_tag @category.images.first.public_filename(:small) %> 
    <p>
      <div>800-327-6585</div>
      <div><%= "www.remcraft.com" unless @category.url -%></div>
    </p>
  </div>
  <h1><%= @category.title %></h1>
  <%= @category.description %> 
</div>


<%= 
  # Migration holder, allows for display of master category related items
  # Should be removed after transition.  
  render :partial => @category unless @category.products.empty? %>

<% for category in @category.children.delete_if { |x| x.products.empty? } -%>
<%= render :partial => category %>
<%- end -%>