<div class='category-description'>
  <%= image_tag @category.images.first.public_filename(:small) rescue nil %>
  <h1><%= @category.title %></h1>
  <p><%= @category.description %></p>  
  <div class="clear"></div>
</div>

<table class='products' border='0' cellspacing='0' cellpadding='0'>
  <tr>
    <%- i = 0 -%>
    <% for product in @category.products -%>
    <%- i = i + 1 -%>
      <td>
        <a href='/products/<%= product.id %>' class='product'>
          <div class='image'>
            <%= image_tag product.images.first.public_filename(:small) rescue nil %>
          </div>
          <h2><%= product.product_code %></h2>
          <b><%=h product.name %></b>
        </a>
      </td>
    <%= i.modulo(3) == 0 ? "</tr><tr>" : "" -%>
    <% end -%>
  <%= i.modulo(3) == 0 ? "" : "</tr>" -%>
</table>
