<ul>
  <li><%= link_to "General Details", edit_product_url(@product) %></li>
  <li><%= link_to "Category Placement", product_placements_url(@product) %></li>
  <li><%= link_to "Variants", product_variants_url(@product) %></li>
  <!-- 
    <li><%= link_to "Images", product_images_url(@product) %></li> 
    <li><%= link_to "Assets", product_assets_url(@product) %></li>
  -->
  <li><%= link_to "Specifications", product_specifications_url(@product) %></li>
  <li><%= link_to "Options", product_qualities_url(@product) %></li>
</ul>