<% content_for :subnavigation do %>
<%= render :partial => 'subnavigation' %>
<% end -%>

<h1>Editing a Product</h1>

<% form_for(@product) do |@f| %>
  <%= @f.error_messages %>
  <%= render :partial => 'form' %>
  
  <p>
    <%= @f.submit "Update", :class => 'submit' %>
  </p>
<% end %>

<%= link_to 'Back', products_path %>
