<h1>Listing Products</h1>
<span class='add-new-link'><%= link_to "New product", new_product_path %></span>
<div class='pagination'><%= will_paginate @posts %></div>
<table>
  <tr>
    <th colspan='2'>Product</th>
    <th class='published'>Published</th>
    <th class='actions'>Actions</th>
  </tr>

<% for product in @products %>
  <tr>
    <td class='image'>
      <%= image_tag product.images.first.public_filename(:mini) rescue nil %>
    </td>
    <td>
      <b><%=h product.product_code %> - <%= product.name %></b><br />
    </td>
    <td style='text-align: center;'><%= published_check(product) %></td>
    <td class='actions'>
      <%= link_to 'Edit', edit_product_path(product) %> |
      <%= link_to 'Preview', product, :popup => true %> | 
      <%= link_to 'Delete', product, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>
<div class='pagination'><%= will_paginate @posts %></div>
