<%= image_tag @product.images.first.public_filename(:medium) rescue nil %>

<h1><%=h @product.name %></h1>
<p><%=h @product.description %></p>

<% for specification in @product.specifications %>
<h2><%=h specification.name %></h2>
<p><%= RedCloth.new(specification.description).to_html %></p>
<% end %>

<% @product.customizations.group_by(&:option).each do |option, customizations| %>
  <h2><%=h option.name %></h2>
  <ul>
    <% for customization in customizations -%>
    <li><%= customization.name %></li>
    <% end -%>
  </ul>
  
<% end %>