<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">
    function change_tab(id) {      
      // Hide existing infomation displays
      $('variant_tabs').select('a').each(function(x) {
        x.removeClassName('active');
      });
      $$('.variant').each(function(x) {
        x.hide();
      });
      
      // Unhide the one we want
      $('variant_'+id).show();
      $('tab_'+id).addClassName('active');
    }
  </script>
  <script type="text/javascript" charset="utf-8">
    function updateForm() {
      allNodes = Form.serialize("config-form");
      values = allNodes.split('&');
      
      $$('div.configurator-variant').each(function(x){
        x.style.display = 'none';
      });

      variant = $F('variant-selector');
      $(variant).style.display = 'block';
      
      $('code').innerHTML = '<%= @product.product_code %>'
      values.each(function(x){ 
        value = x.split('=').last()
        $('code').innerHTML = $('code').innerHTML + '-' + value;
      });
    }
  </script>
<% end %>

<%= render :partial => 'configurator' -%>
<%= render :partial => 'shared/next_steps' -%>

<div class='product noprint'>
  <div class='variants'>
    <ul id='variant_tabs' class='tabs'>
      <%- for variant in @product.variants %>
      <li>
        <%= link_to_function variant.name, "change_tab('#{variant.id}')", :class => ('active' if variant == @product.variants.first), :id => "tab_#{variant.id}" %>
      </li>
      <%- end %>
    </ul>
    
    <%- for variant in @product.variants %>
      <% div_for variant, :style => ('display: none' unless variant == @product.variants.first) do %>
        <%= image_tag variant.images.first.public_filename(:medium), :width => '300' rescue nil %>
        <span class='enlarge'>
          <%= link_to "View Larger Image", (variant.images.first.public_filename rescue nil), :rel => 'lightbox'-%>
        </span>
        
        <% for specification in variant.specifications %>
          <h2><%= specification.name %></h2>
          <%= RedCloth.new(specification.description).to_html %>
        <% end %>
        
        <% variant.customizations.group_by(&:option).each do |option, customizations| %>
        <%= render :partial => "magnification", :object => customizations if option.name == "Magnification" %>
        
        <% end %>  
        
      <% end %>
    <%- end %>
  </div>

  <div class='description'>
    <div class='buffered'>
      <h1><%= @product.product_code %> <%= @product.name %></h1>
      <p><%= RedCloth.new(@product.description).to_html %></p>
      <p><%= link_to_function "Open Configurator", visual_effect(:appear, :configurator)  -%></p>
    </div>
    
    <% @product.customizations.group_by(&:option).each do |option, customizations| %>
      <% if option.is_finish %>
      <div class='customization' style="float: left">
        <h2><%= option.name %></h2>
        <ul>
          <% for customization in customizations -%>
          <li><%= customization.name %></li>
          <% end -%>
        </ul>
      </div>
      <% end %>
    <% end %>  

    <% @product.customizations.group_by(&:option).each do |option, customizations| %>
      <% unless option.is_finish %>
      <div class='customization' style="float: left; width: 100%;">
        <h2><%= option.name %></h2>
        <ul>
          <% for customization in customizations -%>
          <li><%= customization.name %></li>
          <% end -%>
        </ul>
      </div>
      <% end  %>
    <% end %>  

    <% for specification in @product.specifications %>
      <h2><%= specification.name %></h2>
      <p><%= RedCloth.new(specification.description).to_html %></p>
    <% end %>
  </div>
  <div class='clear'></div>
</div>

<!-- Print Page Below -->
<div class='print-product onlyprint'>
  <div class='category-description'>
    <div class='onlyprint logo'>
      <%= image_tag @product.categories.first.images.first.public_filename(:small) rescue nil %> 
      <p>
        <div>800-327-6585</div>
        <div><%= "www.remcraft.com" unless @product.categories.first.url -%></div>
      </p>
    </div>
    
    <h1><%= @product.product_code %> <%= @product.name %></h1>
    <p><%= RedCloth.new(@product.description).to_html %></p>
  </div>
  
  <div class='variants'>
    <%- for variant in @product.variants %>
      <div class="variant">
        <h2><%= variant.name %></h2>
        <%= image_tag variant.images.first.public_filename(:small), :width => '150' rescue nil %>
  
        <% for specification in variant.specifications %>
          <h2><%= specification.name %></h2>
          <%= RedCloth.new(specification.description).to_html %>
        <% end %>
  
        <% variant.customizations.group_by(&:option).each do |option, customizations| %>
          <%= render :partial => "magnification", :object => customizations if option.name == "Magnification" %>
        <% end %>  
      </div>
    <%- end %>
  </div>

  <div class='description'>
    <% @product.customizations.group_by(&:option).each do |option, customizations| %>
      <% if option.is_finish %>
      <div class='customization'>
        <h2><%= option.name %></h2>
        <ul>
          <% for customization in customizations -%>
          <li><%= customization.name %></li>
          <% end -%>
        </ul>
      </div>
      <% end %>
    <% end %>  

    <% @product.customizations.group_by(&:option).each do |option, customizations| %>
      <% unless option.is_finish %>
      <div class='customization' style="clear: both; width: 100%">
      
        <h2><%= option.name %></h2>
        <ul>
          <% for customization in customizations -%>
          <li><%= customization.name %></li>
          <% end -%>
        </ul>
      </div>
      <% end  %>
    <% end %>  

    <% for specification in @product.specifications %>
      <h2><%= specification.name %></h2>
      <p><%= RedCloth.new(specification.description).to_html %></p>
    <% end %>
  </div>
</div>