<% content_for :subnavigation do %>
<%= render :partial => 'products/subnavigation' %>
<% end -%>

<h1><%= @object.class %> Images</h1>
<% form_for(Image.new, :url => { :action => "create" }, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :uploaded_data %>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit "Add Photo", :class => 'submit' %>
  </p>
<% end -%>

<h2>Existing <%= @object.class %> Images</h2>
<% for image in @object.images -%>
<%= image_tag image.public_filename(:mini) %>
<% end -%>