<% content_for :subnavigation do %>
  <%= render :partial => 'products/subnavigation' if @object.is_a? Product %>
  <%= render :partial => 'categories/subnavigation' if @object.is_a? Category %>
<% end -%>

<h1><%= @object.class %> Images</h1>
<% form_for(Image.new, :url => { :action => "create" }, :html => { :multipart => true }) do |f| -%>
  <%= f.error_messages %>
  <p>
    <%= f.label :uploaded_data %>
    <%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit "Add Photo", :class => 'submit' %>
  </p>
<% end -%>

<h2>Existing <%= @object.class %> Images</h2>
<table>
  <tr>
    <th style='text-align: center;'>Photo</th>
    <th class='actions'>Actions</th>
  </tr>

<% for image in @object.images -%>
<tr>
  <td style='text-align: center;'>
    <%= image_tag image.public_filename(:small) %>
  </td>
  <td class='actions'>
    <%= link_to 'Delete', image, :confirm => 'Are you sure?', :method => :delete %>
  </td>
</tr>
<% end -%>
</table>