<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>
    Remcraft Lighting Products Administration
    <%= controller.controller_name.titleize %>
    <%= controller.action_name.titleize %>
  </title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
  
  <%= stylesheet_link_tag 'admin', :media => 'all' %>
  <%= stylesheet_link_tag 'lightbox' %>
  <!--[if IE 6]> 
    <%= stylesheet_link_tag 'ie6' %>
  <![endif]-->
  <!--[if IE 7]> 
    <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
  
  <%= javascript_include_tag :all, :cache => true %>
  <%= yield(:head) %>
  
</head>
<body>
  <div id="wrap">
    <div id="header">
      <div class='gutter'>
        <div class="user-navigation">
          <%- if current_user -%>
            You are logged in as <%= current_user.name %> -
            <%= link_to "Log Out", session_path, :method => 'delete'  %>
          <%- end -%>
        </div>
      </div>
    </div>
    <%= content_tag(:div, flash[:notice], :id => 'flash', :class => 'flash-notice') if flash[:notice] %>
    <%= content_tag(:div, flash[:error], :id => 'flash', :class => 'flash-error') if flash[:error] %>
    
    <div id="navigation">
      <div class="gutter">
        <%= render :partial => 'shared/admin_navigation' if current_user %>
      </div>
    </div>

    <div id="content">
      <%= content_tag(:div, yield(:subnavigation), :class => 'subnavigation') if yield(:subnavigation) %>
      <%= yield %>
    </div>
    
    <div id="footer">
      <div class="gutter">
        <%= "#{ENV['RAILS_ENV'].titleize} Build" %>
      </div>
    </div>
  </div>
</body>
</html>