<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Remcraft Lighting Products, Inc.</title>
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset/reset-min.css"> 
  
  <%= stylesheet_link_tag 'public', :media => 'all' %>
  <%= stylesheet_link_tag 'lightbox' %>
  <!--[if IE 6]> 
    <%= stylesheet_link_tag 'ie6' %>
  <![endif]-->
  <!--[if IE 7]> 
    <%= stylesheet_link_tag 'ie7' %>
  <![endif]-->
  
  <%= javascript_include_tag :all, :cache => true %>
  <%= yield(:head) %>
  
</head>
<body>
	<%= render :partial => 'shared/header' %>  
	
  <div id="wrap">
  	    
    <%= render :partial => 'shared/navigation' %>
    <%= tag("div", flash[:notice], :id => 'special') if flash[:notice] %>
    
    <div id="breadcrumb">
      <% if @breadcrumbs %>
        <% @breadcrumbs[0..-2].each do |txt, path| %>
          <%= link_to(h(txt), path) %> /
        <% end %>
        <b><%= h(@breadcrumbs.last.first) %></b>
      <% end %>
      <span class='print'><%= link_to "Printer Friendly Page" %></span>
    </div>
    
    <div id="content<%= '-onecolumn' if (@page.sidebar.empty? rescue true) %>">
      <div class="gutter">
        <%= yield  %>
      </div>
  	</div>
    
    <% if (@page.sidebar rescue false) %>
  	<div id="sidebar">
  	  <div class="gutter">
        <%= RedCloth.new(@page.sidebar).to_html %>
  	  </div>
  	</div>
    <% end %>
    
    <%= render :partial => 'shared/footer' %>  
  </div> <!-- End #wrap -->

</body>
</html>

